a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
  background: blue;
}

.grid1 {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 900px;
  padding: 10px;
  margin: 0 auto;
  grid-gap: 30px;
}

.textolinear {
  text-align: center;
  font-size: 25px;
  color: white;
  
}

/*.flex {
  width: 100%;
  text-align: justify;
  padding: 60px;
  font-size: 22px;
  width: 900px;
}
*/

.subtitulo {
  color: white;
  margin-top: 10px;
  text-shadow: 1px 1px 1px #666;
  text-align: #frase;
}

.grid2 {
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  padding: 10px;
  margin: auto;
  grid-gap: 20px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
.clear {
  clear: both;
}

* {
  margin: 0;
  padding: 0;
}
body {
  width: 1200px
  height: 1900px;
  border-bottom: 10px;
  background-image: url("fundo7.jpg");
  background-color: white


}
 .p {
  text-align: justify;
  text-indent: 50px;
}

.nav {
  width: 100%;
  height: 80px;
  background: #0024e2;
  position: relative;
  text-shadow: 1px 1px 1px #666;
  border-top: 10px #666 solid;
  border-bottom: 10px #666 solid;
}

#logo {
  width: 20%;
  float: left;
}
#logo img {
  margin: 10px;
  width: 80%;
}

#frase {
  font-family: "Arizonia";
  font-size: 40px;
}

#frase h1 {
  color: white;
  font-size: 90px;
}

.t2 {
  font-size: 30px;
  width: 100%;
  float: left;
  text-align: center;
  color: white;
  margin-top: 70px;
}

.sobre {
  margin-top: 70px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}

.formu2 {
  width: 100px;
  height: 30px;
  background-color: #999999;
}

.formu {
  width: 980px;
  height: 50px;
  background-color: #999999;
}

.button {
  width: 100px;
  height: 50px;
}

/*.flex2 {
  font-size: 24px;
  width: 800px;
}
*/

.formucadas {
  width: 880px;
  height: 50px;
  background-color: #999999;
}

.buttoncadas {
  width: 100px;
  height: 50px;
}

/* Estilizando o menu */
.menu {
  list-style: none;
  font-size: 20px;
  position: absolute;
  right: 0;
}


.menu li,
.submenu li {
  display: inline-block;
  float: left;
  position: relative;
}
.menu > li {
  border-radius: 10px 10px 0 0;
}
.submenu {
  border-radius: 0 0 10px 10px;
}

.menu li:hover,
.menu li:hover ul {
  display: block;
  background: #999;
}
.menu li a {
  font: 22px Verdana, Geneva, sans-serif;
  color: #fff;
  display: block;
  padding: 0 20px;
  line-height: 64px;
  text-decoration: none;
  font-weight: bold;
}

/* Submenu */
.submenu {
  display: none;
  position: absolute;
  top: 64px;
  left: 0;
  border: 1px #ccc solid;
}

.submenu li {
  float: left;
  display: block;
  width: 250px;
  border-bottom: 1px #ccc dotted;
}

.submenu li:last-child {
  border: 0;
}
.submenu li a {
  line-height: 3em;
}
.submenu li:hover a {
  background: #eee;
}
/* Fim do menu */


.container {
  width: 890px;
  height: 390px;
}


.carousel-inner {
    width: 890px;
    height: 390px;
}

